<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>

        <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for employee in employees %}
              <tr>
                <td>{{ employee }}</td>
                <td>{{ employee.position }}</td>
                <td>
                    <a href="{% url 'meetings:employee_edit' employee.id %}">Edit</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

</body>
</html>